.wrapper {
  position: relative;
  width: 220px;
}

.img {
  width: 100%;
  border-radius: 12px;
  display: block;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.85);
  color: white;
  padding: 12px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.overlay p:first-child {
  margin: 0;
}
.overlay p:last-child {
  font-size: 14;
}
